<table class="table table-hover">
    <thead>
        <tr>
            <th> # </th>
            <th> Poster </th>
            <th> Nombre </th>
            <th> Released </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
                <img [src]="pais.poster" [alt]="pais.id" class="small-flag">
            </td>
            <td>
                {{pais.title}} <br>
                {{pais.genre}} <br>
                {{pais.platform_name}} <br>
                {{pais.achievements_obt}} / {{pais.achievements_ttl}}<br>
            </td>
            <td>{{pais.released | date }}</td>
            <td>
                <a [routerLink]="['/game', pais.id]" class="btn btn-primary btn-sm">Ver</a>
            </td>
        </tr>
    </tbody>
</table>