<div *ngIf="!pais; else divPais" class="alert alert-info">
    Espere por favor...
</div>



<ng-template #divPais>

    <div class="row">
        <div class="col-12">
            <h1>Game: <p>{{ pais[0].title }}</p></h1>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="{{pais[0].poster}}" alt="{{pais[0].title}}" class="ImgPoster">
            </div>
        </div>
        <div class="col-8">
            <table class="table table-dark table-striped rounded-5">
                <thead>
                    <tr>
                        <th>
                            Released
                        </th>
                        <td>
                            {{pais[0].released}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Genre
                        </th>
                        <td>
                            {{pais[0].genre}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Platform
                        </th>
                        <td>
                            <i class="{{pais[0].platform_icon}}"></i> {{pais[0].platform_name}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Rating
                        </th>
                        <td>
                            {{pais[0].rating}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Status
                        </th>
                        <td>
                            {{pais[0].status}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Achievements
                        </th>
                        <td>
                            {{pais[0].achievements_obt}} / {{pais[0].achievements_ttl}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Hours
                        </th>
                        <td>
                            {{pais[0].hours_mytb}} / {{pais[0].hours_hltb}}
                        </td> 
                    </tr>
                    <tr>
                        <th>
                            Date
                        </th>
                        <td>
                            {{pais[0].date_start | date: 'dd MMM' }} / {{pais[0].date_end | date: 'dd MMM'}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Percent %
                        </th>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" 
                                role="progressbar" aria-label="Animated striped example" 
                                aria-valuemin="0" aria-valuemax="100"
                                [style]="'width: '+ pais[0].any + '%'">
                                {{pais[0].any}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>


    <!-- <div class="card">
        <pre class="p-2">
        {{ pais | json }}
        </pre>
    </div> -->


</ng-template>